.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.account-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.account-card h2 {
  margin-bottom: 20px;
}

.account-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-info label {
  font-weight: bold;
}

.delete-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  transition: background 0.3s ease;
}

.delete-btn:hover {
  background-color: #c1121f;
}

.password-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.account-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update-btn {
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #355f7a;
}

.dropdown-btn {
  margin-top: 1px;
  margin-bottom: 5px;
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

.dropdown-btn:hover {
  background-color: #5a6268;
}

.password-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account-input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.update-btn {
  margin-bottom: 5px;
  background-color: #457b9d;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #355f7a;
}